* {
    margin: 0;
    padding-left: 0;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -10;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    background-image: url("/static/bg3.jpg");
}

h2 {
    padding-left: 35px;
}

.form-control[readonly] {
    background-color: yellow;
}

#loging_form {
    margin: 0 auto;
    position: fixed;
    top: 60%;
    left: 26%;
}

#login_font {
    font-size: 14px;
    /*text-align: center;*/
}